[submodule "introduccion_privacidad"]
	path = introduccion_privacidad
	url = https://bitbucket.org/josealberto4444/charla_introduccion_privacidad
[submodule "tor"]
	path = tor
	url = https://github.com/nacheteam/Charla-sobre-Tor
[submodule "charla-ransomware"]
	path = charla-ransomware
	url = https://github.com/nacheteam/charla-ransomware
[submodule "cebollaPi"]
	path = cebollaPi
	url = git@github.com:germaaan/cebollaPi.git
[submodule "presenciaDigital"]
	path = presenciaDigital
	url = git@github.com:germaaan/presenciaDigital.git
